.btn {
    margin-right: 1em; /* remove this while use*/
    margin-bottom: 1em; /* remove this while use*/
      display: inline-block;
      outline: none;
      *zoom: 1;
      text-align: center;
      text-decoration: none;
      font-family: inherit;
      font-weight: 300;
      letter-spacing: 1px;
      vertical-align: middle;
      border: 1px solid;
      transition: all 0.2s ease;
      box-sizing: border-box;
    text-shadow: 0 1px 0 rgba(0,0,0,0.01);
    font-size: 1.5em;
    margin-bottom: 20px;
    width: 33%;
  
  }
  .btn:hover{
    border: #fff;
    background-color: rgba(255,255,255,0.3);
    cursor: pointer;
    
  }
  